[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
redis = "*"
redisgraph = "*"
psycopg = "*"
gremlinpython = "*"
mysql-connector-python = "*"
cassandra-driver = "*"
apsw = "*"

[packages]
networkx = "*"
igraph = "*"
texttable = "*"
tqdm = "*"
biopython = "*"
