name: Python Tests on Version 3.X
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - '3.8' 
        - '3.9' 
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'

    steps:
      - name: Check out Repository
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -e . 
          pip install pylint
          pip install pytest
          pip install redis
          pip install redisgraph
          pip install psycopg
          pip install gremlinpython
          pip install mysql-connector-python
          pip install cassandra-driver
          pip install apsw

      - name: Run Complete tests
        run: |
          python -m pytest
